/* Definizioni delle variabili CSS globali per il chatbot */

:host {
    /* Colori di Base */
    --chatbot-bg: #ffffff;
    --chatbot-header-bg: #3b444f;
    --chatbot-header-text: #ffffff;

    --chatbot-pulse-dot-bg: #a3fe6f;

    --chatbot-footer-bg: #f8f9fa;
    --chatbot-text-primary: #333;

    --chatbot-text-secondary: #495057;
    --chatbot-border-color: #e9ecef;
    --chatbot-placeholder-color: #adb5bd;

    /* Colori Messaggi */
    --chatbot-message-bot-bg: #f1f1f1;
    --chatbot-message-bot-text: #333333;
    --chatbot-message-user-bg: linear-gradient(to bottom, #fe6f6f, #e01a1a);
    --chatbot-message-user-text: #ffffff;

    /* Colori Elementi Interattivi */
    --chatbot-accent-color: #fe6f6f;
    /* Blu primario per bottoni/focus */
    --chatbot-accent-color-hover: #fe6f6f;
    --chatbot-focus-shadow: rgba(0, 123, 255, 0.25);
    --chatbot-close-button-color: #ffffff;
    --chatbot-close-button-hover-opacity: 1;

    /* Colori Bottone Toggle */
    --chatbot-toggle-bg: white;
    /* Viola */
    --chatbot-toggle-bg-hover: #fc8383;
    /* Blu per hover */
    --chatbot-toggle-text: #ffffff;

    /* Ombre */
    --chatbot-shadow-color: rgba(0, 0, 0, 0.1);
    --chatbot-toggle-shadow: rgba(0, 0, 0, 0.15);

    /* Font */
    --chatbot-font: 'Urbanist', sans-serif;

    /* Altre Variabili (Esempio) */
    --chatbot-border-radius-container: 16px;
    --chatbot-border-radius-message: 18px;
    --chatbot-border-radius-input: 20px;


    --chatbot-red-wine-card-bg: #fe6f6f;
    --chatbot-red-wine-card-bg-hover: #f74b4b;
    --chatbot-red-wine-card-text: #ffffff;
}